@charset 'UTF-8';
@media all {
    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        position: relative;
        background-color: rgb(46, 2, 66);
        transition: 1s;
        font-size: 1.2em;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 100vw;
        height: 100vh;
    }

    h1 {
        position: absolute;
        display: block;
        top: 5vh;
        left: 50vw;
        transform: translateX(-50%);
    }

    div#conteudo {
        position: absolute;
        display: block;
        top: 40vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        width: 70vw;
        height: 50vh;
        max-width: 600px;
        max-height: 500px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        font-size: 1.3em;
        transition: 0.5s;
    }

    div#horas {
        display: block;
        position: absolute;
        top: 9%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    img {
        transition: 1s;
    }

    div#imagem {
        position: absolute;
        left: 50%;
        top: 100%;
        min-height: 50%;
        height: 80%;
        transform: translate(-50%, -100%);
    }

    div#imagem>img {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: min(90%, 100%);
        border-radius: 100%;
    }

    h3 {
        position: absolute;
        top: 68vh;
        left: 50vw;
        transform: translateX(-50%);
    }
}


@media screen and (max-width: 380px) {
    
    h1, h3 {
        font-size: 1em;
    }
    div#conteudo {
        font-size: 0.8em;
        text-align: center;
    }

    div#imagem {
        height: 50%;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 600px) {
    body {
        text-align: center;
    }
    h1 {
        font-size: 1.2em;
    }

    div#conteudo {
        font-size: 1em;
    }

}

@media screen and (max-height: 280px){

    h1 {
        top: 1vw;
    }

    h1, h3 {
        font-size: 0.8em;
    }

    div#conteudo {
        min-height: 30vh;
        max-width: 50vw;
        font-size: 0.5em;
    }
    
}

@media screen and (max-height: 160px) {
    h1 {
        top: 0vh;   
    }

    h1, h3 {
        font-size: 0.5em;
    }
}