body {
    
}
img {
    background-color: blanchedalmond;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.349);
    max-height: 250px;
    margin: 10px;
    padding: 20px;
}

img:hover {
    background-color: rgb(247, 202, 145);
}